<h1>Exemple <b>Observable</b>-- UI REFRESH</h1>
<h2 class="good">Bonne facon de faire pour temps réel - <b>En mettant dans le service!!! (Ce qui est mieux
    que l'Exemple6, car ici tout les composant pourait écouter this.service.messages$ !!!!! ce qui est fort intéressant)
</b></h2>


@if (messages$ | async; as messages) {
    @if (messages.length == 0) {
        <h2>Aucun message</h2>
    }
    @else {
        <h2>Messages</h2>
        <ul>
            @for (message of messages; track message.id) {
            <div>
                <li>{{ message.content }}</li>
                <button (click)="removeMessage(message.id ?? '')">Supprimer</button>
            </div>
            }
        </ul>
    }
}


<input type="text" [(ngModel)]="newMessage" placeholder="Nouveau message" (keyup.enter)="addMessage()" />
<button (click)="addMessage()">Ajouter Message</button>